body
{
    background-color: #ddd;
    margin: 0;
}


#leftmenu
{
    background-color: white;
    height: 785px;
    width: 18%;
    float: left;
    background-color: yellow;
    box-shadow: 0 8px 8px 0 rgba(0, 0, 0, 0.5);
    /* background-color: rgb(93, 100, 196); */
    
}

#taikhoan
{
    /* background-color: white; */
    /* margin-left: 20px; */
    margin: 5px;
    padding-left: 30px;
    padding-top: 20px;
    height: 80px;
    background-color: white;

    
}
#tenadmin
{
    float: left;
    margin-left: 30px;
    
    font-size: 20px;
    
}
#sanpham
{
    border-top: 2px solid #ddd;
    /* height: auto; */
    margin: 5px;
    background-color: white;
    font-size: 25px;
    text-align: center;
    line-height: 80px;
    cursor: pointer;
    /* margin-bottom: -100px; */
    transition: all 1s;
    
    box-shadow: 0 8px 8px 0 rgba(0, 0, 0, 0.3);
    /* position: relative; */
}
#sanpham:hover
{
    color: red;
}
#menuSP 
{
    display: none;
    margin-top: -80px;
    align-items: center;
    background-color: yellow;
    /* border-top: 2px solid #ddd; */
    /* margin: 10px auto; */
    transition: all 2s;
    height: auto;
    
}
#menuSP div 
{
    
    margin-left: 20px;
    margin-right: 20px;
    background-color: white;
    line-height: 20px;
    height: 50px;
    line-height: 60px;
    height: 60px;
    text-align: center;
    display: block;
    cursor: pointer;
    border: 1px black solid;
}
#menuSP div:hover
{
    background-color: aqua;
}
#top
{
    height: 50px;
    width: 100%;
    background-color: black;
    text-align: center;
    color: white;
    line-height: 50px;
    /* display: inline-table; */
}
#top
{
    height: 50px;
    width: 100%;
    background-color: black;
    text-align: center;
    color: white;
    line-height: 50px;
    /* display: inline-table; */
}
#content
{
    width: 82%;
    height: 785px;
    /* background-color: aquamarine; */
    /* display: flex; */
    float: left;
    /* margin: 50px; */
}
#formadd
{
    display: none;
    margin: 50px auto;
    width: 50%;
    height: 500px;
    background-color: white;
    box-shadow: 0 8px 8px 0 rgba(0, 0, 0, 0.3);
}
#formadd h2
{
    font-weight: normal;
    margin: 0;
    color: red;
}
#formadd label
{
    font-size: 20px;
    
}
#formadd #infoform
{
    padding: 30px ;
    padding-left: 60px;
    padding-right: 60px;
}
#formadd #addten input[type=text]
{
    height: 30px;
    width: 300px;
    border: #ddd 1px solid;
    margin: 10px auto;
    margin-left: 30px;
}
#formadd #addhang input[type=text]
{
    height: 30px;
    width: 300px;
    border: #ddd 1px solid;
    margin: 10px auto;
    margin-left: 68px;
}
#formadd #addtien input[type=text]
{
    height: 30px;
    width: 300px;
    border: #ddd 1px solid;
    margin: 10px auto;
    margin-left: 78px;
}
#formadd select
{
    margin-left: 105px;
    height: 33px;
    border: #ddd 1px solid;
}
#formadd input[type=file]
{
    margin: 10px;
    margin-left: 23px;
}
#btnaddSP
{
    background: linear-gradient(180deg,#f79429,#f7712e);
    height: 60px;
    width: 300px;
    margin: 40px auto;
    margin-left: 130px;
    border-radius: 5px;
    border: none;
    cursor: pointer;
}
/* table */ 
table, th, td{
    border:2px solid black;
    text-align: center;
    height: 70px;
    width: 780px;
}
table{
    border-collapse:collapse;
    margin-left: 20px;
    background-color: white;
    font-family: 'Montserrat', sans-serif;
    box-shadow: 0 8px 8px 0 rgba(0, 0, 0, 0.5);
    
}
/* css chỉnh acc */
#nenAcc
{
    position: fixed; 
       z-index: 15; 
       left: 0;
       top: 0;
       width: 100%; 
       height: 100%;  
       overflow: auto; 
       background-color: rgb(0,0,0);  
       background-color: rgba(0,0,0,0.4);  
       padding-top: 60px;
       display: none;
}
#chinhacc
{
    
    margin: 130px auto;
    top: 150px;
    width: 30%;
    height: 500px;
    background-color: white;
    box-shadow: 0 8px 8px 0 rgba(0, 0, 0, 0.3);
    
}
#chinhacc h2
{
    font-weight: normal;
    margin: 0;
    color: red;
}
#chinhacc label
{
    font-size: 20px;
    
}
#chinhacc #chinhform
{
    padding: 10px ;
    padding-left: 30px;
    padding-right: 60px;
}
#chinhacc #suaten input[type=text]
{
    height: 25px;
    width: 200px;
    border: #ddd 1px solid;
    margin: 10px auto;
    margin-left: 30px;
}
#chinhacc #suasdt input[type=text]
{
    height: 25px;
    width: 200px;
    border: #ddd 1px solid;
    margin: 10px auto;
    margin-left: 48px;
}
#chinhacc #suatentk input[type=text]
{
    height: 25px;
    width: 200px;
    border: #ddd 1px solid;
    margin: 10px auto;
    margin-left: 29px;
}
#chinhacc #suamk input[type=text]
{
    height: 25px;
    width: 200px;
    border: #ddd 1px solid;
    margin: 10px auto;
    margin-left: 7px;
}
#chinhacc #suadc input[type=text]
{
    height: 25px;
    width: 200px;
    border: #ddd 1px solid;
    margin: 10px auto;
    margin-left: 24px;
}
#chinhacc #quyen
{
    margin-left: 40px;
    height: 33px;
    border: #ddd 1px solid;
    width: 100px;  
   
}
#chinhacc #tt
{
    margin-left: 30px;
    height: 33px;
    border: #ddd 1px solid;
    width: 100px;  
    margin-top:10px ; 
}
#btnsuaacc
{
    background: linear-gradient(180deg,#f79429,#f7712e);
    height: 60px;
    width: 300px;
    margin: 40px auto;
    margin-left: 60px;
    border-radius: 5px;
    border: none;
    cursor: pointer;
}
/* dsSP */
#content #dssanpham
{
    margin: 20px auto;
    width: 80%;
    
    background-color: white;
    box-shadow: 0 8px 8px 0 rgba(0, 0, 0, 0.3);
    height: 30px;
}
#thongtin
{
    float: left;
    text-align: center;
    font-size: 20px;
    background-color: white;
    height: 50px;
    line-height: 50px;
    /* border-bottom: 1px black solid;
    border-right: 1px black solid;
    border-left: 1px black solid; */
    font-weight: bold;
}
#content #dssanpham #thongtinSP #adminSPhinh
{
    margin-top: 10px;
    float: left;
    width: 15%;
    height: 140px;
    border-bottom: 1px black solid;
    /* border-right: 1px black solid; */
    /* border-left: 1px black solid; */
    
}
#content #dssanpham #thongtinSP #adminSPten
{
    margin-top: 10px;
    float: left;
    width: 35%;
    height: 140px;
    background-color: white;
    /* border-left: 1px solid black; */
    border-bottom: 1px black solid;
    /* border-right: 1px black solid; */
    text-align: center;
    line-height: 140px;
    font-size: 19px;

}
#content #dssanpham #thongtinSP #adminSPloai
{
    margin-top: 10px;
    float: left;
    width: 15%;
    height: 140px;
    background-color: white;
    /* border-left: 1px solid black; */
    border-bottom: 1px black solid;
    /* border-right: 1px black solid; */
    text-align: center;
    line-height: 140px;
    font-size: 19px;
}
#content #dssanpham #thongtinSP #adminSPhang
{
    margin-top: 10px;
    float: left;
    width: 15%;
    height: 140px;
    background-color: white;
    border-bottom: 1px black solid;
    /* border-right: 1px black solid; */
    text-align: center;
    line-height: 140px;
    font-size: 19px;
}
#content #dssanpham #thongtinSP #adminSPgia
{
    margin-top: 10px;
    float: left;
    width: 15%;
    height: 140px;
    border-bottom: 1px black solid;
    /* border-right: 1px black solid; */
    /* border-left: 1px black solid; */
    background-color: white;
    text-align: center;
    line-height: 140px;
    font-size: 19px;
    color: red;
}
#content #dssanpham #thongtinSP #adminSPchucnang
{
    margin-top: 10px;
    float: left;
    width: 5%;
    height: 140px;
    border-bottom: 1px black solid;
    /* border-right: 1px black solid;
    border-left: 1px black solid; */
    background-color: white;
}
#content #dssanpham #thongtinSP #adminSPchucnang div:hover
{
    color: red;
}
#sotrang
        {
            display: block;
            height: 36px;
            width: 36px;
            background-color: rgb(255, 255, 255);
            border: 1px solid rgb(255, 255, 255);
            margin: 5px;
            line-height: 35px;
            /* flex-direction: row; */
            /* line-height: 20px; */
            /* color: #fff; */
            /* margin-right: 10px; */
            display: inline-table;
            border-radius: 2px;
            
            
        }
        /* #sotrang a
        {
            text-decoration: none;
            display: block;
            font-size: 20px;
        } */
        #sotrang:hover:not(.active)
        {
            background-color: #ddd;
        }
        #phantrang .active
        {
            background-color: rgb(20, 53, 195);
            color: white;
        }
        #phantrangDH .active
        {
            background-color: rgb(20, 53, 195);
            color: white;
        }
        #phantrang
        {
            /* display: flex;
	    justify-content: center; */
        height: 40px;
        text-align: center;
        display: none;
        cursor: pointer;
        }
        #nen
        {
            height: 100%;
            width: 100%;
            background-color: rgba(0, 0, 0,0.4);
            position: fixed;
            top:0;
            left: 0;
            z-index: 15;
            /* opacity: 0.4; */
            display: none;
        }
        .daux
        {
            position:absolute; 
            font-size:16px; 
            top:10px; 
            right:30px;
            background-color:white;
            color: black;
            width:30px;
            height:30px;
            cursor: pointer;
            line-height:30px;
            text-align:center;
        }
        .daux i:hover
        {
            color: red;
        }
#canhbao
{
    height: 300px;
    width: 500px;
    background-color: white;
    margin: 250px auto;
    box-shadow: 0 4px 4px 0 rgba(0,0,0,0.5);
     
}
#tieudexoa
{
    height: 120px;
    width: 100%;
    font-size: 25px;
    line-height: 120px;
    margin-left: 90px;
}
#btnkhong
{
    background: #f05d40;
    border: none;
    font-size: 20px;
    height: 50px ;
    width: 130px;
    border-radius: 2px ;
    color: white;
    cursor: pointer;
    margin-top: 50px;
    margin-left: 105px;
}
#btnco
{
    background: #f05d40;
    border: none;
    font-size: 20px;
    height: 50px ;
    width: 130px;
    border-radius: 2px ;
    color: white;
    cursor: pointer;
}
/* sửa */
#nensua #formadd
{
    /* height: 00px;
    width: 500px; */
    width: 600px;
    background-color: white;
    margin: 150px auto;
    box-shadow: 0 4px 4px 0 rgba(0,0,0,0.5);

}
#nensua
{
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0,0.4);
    position: fixed;
    top:0;
    left: 0;
    z-index: 15;
    /* opacity: 0.4; */
    display: none;
}
#formsua
{
    width: 600px;
    background-color: white;
    margin: 150px auto;
    box-shadow: 0 4px 4px 0 rgba(0,0,0,0.5);
}
#formsua h2
{
    font-weight: normal;
    margin: 0;
    color: red;
}
#formsua label
{
    font-size: 20px;
    
}
#formsua #infoform
{
    padding: 30px ;
    padding-left: 60px;
    padding-right: 60px;
}
#formsua #suaten input[type=text]
{
    height: 30px;
    width: 300px;
    border: #ddd 1px solid;
    margin: 10px auto;
    margin-left: 30px;
}
#formsua #suahang input[type=text]
{
    height: 30px;
    width: 300px;
    border: #ddd 1px solid;
    margin: 10px auto;
    margin-left: 68px;
}
#formsua #suatien input[type=text]
{
    height: 30px;
    width: 300px;
    border: #ddd 1px solid;
    margin: 10px auto;
    margin-left: 78px;
}
#formsua select
{
    margin-left: 105px;
    height: 33px;
    border: #ddd 1px solid;
}
#formsua input[type=file]
{
    margin: 10px;
    margin-left: 23px;
}
#btnsua
{
    background: linear-gradient(180deg,#f79429,#f7712e);
    height: 60px;
    width: 300px;
    margin: 40px auto;
    margin-left: 130px;
    border-radius: 5px;
    border: none;
    cursor: pointer;
}
a{
    text-decoration: none;
    display: block;
    /* color: black; */
}
#thongtinDH
{
    margin-left: 150px;
    width: 82%;
    height: 640px;
    
}
#thongtinDH #idDH 
{
    float: left;
    width: 15%;
    height: 50px;
    line-height: 50px;
    background-color: white;
    text-align: center;
    border-bottom: 1px black solid;
}
#thongtinDH #tenKH 
{
    float: left;
    width: 15%;
    height: 50px;
    text-align: center;
    line-height: 50px;
    background-color: white;
    border-bottom: 1px black solid;
}
#thongtinDH #ngaydat
{
    float: left;
    width: 20%;
    height: 50px;
    text-align: center;
    line-height: 50px;
    background-color: white;
    border-bottom: 1px black solid;
}
#thongtinDH #tongtienDH
{
    float: left;
    width: 20%;
    height: 50px;
    text-align: center;
    line-height: 50px;
    color: red;
    background-color: white;
    border-bottom: 1px black solid;
}
#thongtinDH #tinhtrangDH
{
    float: left;
    width: 15%;
    height: 50px;
    text-align: center;
    line-height: 50px;
    background-color: white;
    border-bottom: 1px black solid;
}
#thongtinDH #chitietDH 
{
    float: left;
    width: 15%;
    height: 50px;
    text-align: center;
    line-height: 50px;
    background-color: white;
    border-bottom: 1px black solid;
}
#ctdonhang
{
    text-align: center;
    height: 40px ;
    background: linear-gradient(180deg,#f79429,#f7712e);
    width: 70%;
    margin: 5px auto;
    line-height: 40px;
    font-size: 18px;
    cursor: pointer;
    color: white;
}
#ctdonhang:hover
{
    color: red;
}
#nenDH
{
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0,0.4);
    position: fixed;
    top:0;
    left: 0;
    z-index: 15;
     /* opacity: 0.4; */
    display: none;
}
#formCTdh
{
    margin: 150px auto;
    width: 50%;
    height: 500px;
    background-color: white;
    box-shadow: 0 8px 8px 0 rgba(0, 0, 0, 0.3);
}
#formCTdh span
{
    font-size: 20px;
    float: right;
    margin-right: 170px;
}
#formCTdh #infoSP span
{
    color: blue;
}
#formCTdh label
{
    font-size: 20px;

}
#formCTdh #infoSP
{
    margin-top: 20px;
    margin-left: 20px;
    
} 
#formCTdh #hotenKH
{
    margin-top: 20px;
    margin-left: 20px;
} 
#formCTdh #diachiKH
{
    margin-top: 20px;
    margin-left: 20px;
} 
#formCTdh #sdtKH
{
    margin-top: 20px;
    margin-left: 20px;
} 
#formCTdh #ngaymua
{
    margin-top: 20px;
    margin-left: 20px;
} 
#formCTdh #tongtienDH
{
    margin-top: 20px;
    margin-left: 20px;
    color: red;
} 
#formCTdh #tinhtrangDH
{
    margin-top: 20px;
    margin-left: 20px;
} 
#formCTdh #tinhtrangDH select
{
    font-size: 18px;
    float: right;
    margin-right: 170px;
    height: 30px;
    width: 200px;
    border: #ddd 1px solid;
} 
#thongtinthongke
{
    margin-left: 150px;
    width: 82%;
    height: 540px;
    
}
